@model Einstein.WebUI.Models.OrderViewModel
@{
    ViewBag.Title = "Заявка";
}
@Scripts.Render("~/Scripts/order.js")

<div @*style="height:82vh;"*@>
    <div class="k-form-container" @*style="margin-left: 25%; width:50%;"*@ style="margin-left:auto;margin-right:auto;max-width:600px;">
        <form id="order">
            <fieldset class="k-form-fieldset k-widget">
                <legend class="k-form-legend" style="padding-left:15px;">Заявка на посещение мероприятия</legend>

                @Html.Partial("~/Views/Shared/EditorTemplates/Order.cshtml", Model)

            </fieldset>
            <div class="form-actions">
                @(Html.Kendo().Button().Name("Save").Tag("div").HtmlAttributes(new { type = "button", @class = "k-primary" }).Icon("flip-vertical").Content("Отправить").Events(ev => ev.Click("SendOrder")))
            </div>
        </form>
    </div>
</div>

<script>
    var dataSource;
    $(document).ready(function () {

        var dropdownlist = $("#eventname").data("kendoDropDownList");
        dataSource = dropdownlist.dataSource;

        dataSource.bind("requestEnd", dataSource_requestEnd);
        dataSource.read();

    });

    function dataSource_requestEnd(e) {
        var response = e.response;
        var type = e.type;

        if (response.length > 0) {

            onDropDownListEventsNamesChange({ dataItem: response[0] })

        }
        else {
            onDropDownListEventsNamesChange({});
        };
    }

    


    function  ShowMessage(e)
    {
        
        if (e.Errors) {
            var message = "<strong>Ошибки:</strong>";
            message += "<ul>"
            $.each(e.Errors, function (key, value) {

                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += "<li>" + this + "<br></li>";
                    });
                }
            });
            message += "</ul>"
            showError(message, true);

        }
        else
        {
            showSuccess("Заявка успешно создана!<p>На указанную Вами электронную почту направлено уведомление о регитрации.</p>", true);
        }
    }
    function SendOrder(e) {

        var validator = $("#order").kendoValidator().data("kendoValidator");

         if (validator.validate()) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("CreateOrder", "OrderService") ",
                datatype: 'json',
                data: $('#order').serialize(),
                success: function (data) {

                    ShowMessage(data);
                    dataSource.read();
                    },
                error: function (xhr, ajaxOptions, thrownError) {

                    showError(xhr.status + " " + thrownError);
                    }
            });
        }
    }
</script>
<style>
    legend {
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 20px;
    }

    .k-form-fieldset {
        margin: 32px 0 0;
        padding: 0 0;
        border-width: 0;
        box-sizing: border-box;
    }

    .k-form-field-wrap {
        width: 100%;
    }

    .k-form-field {
        margin-bottom: 10px;
    }
</style>
