html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 80px;
}

/* #region Footer styles */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.85em;
}
/* #endregion */

/* #region custom Kendo UI styles */
#configure {
    display: none;
}

h2 {
    text-align: center;
    margin: 10px 0;
}