
@{
    ViewBag.Title = "Календарь";
}

@*<h2>Календарь мероприятий</h2>*@

<div  style = "height:calc(100vh - 40px);">
    @(Html.Kendo().Scheduler<Einstein.WebUI.Models.EventViewModel>()
                                        .Name("scheduler")
                                        .HtmlAttributes(new { style = "height: 100%" })
                                        .Toolbar(t => t.Pdf())
                                        .StartTime(new DateTime(2020, 1, 1, 7, 00, 00))
                                        .WorkDayStart(new DateTime(2020, 1, 1, 8, 00, 00))
                                        .WorkDayEnd(new DateTime(2020, 1, 1, 18, 00, 00))
                                        .EndTime(new DateTime(2020, 1, 1, 21, 00, 00))
                                        .MajorTimeHeaderTemplate("#=kendo.toString(date, 'HH:mm')#")
                                        .Views(views =>
                                        {
                                            views.DayView(d => d.AllDaySlot(false).DateHeaderTemplate("#=kendo.toString(date, 'dddd dd.MM.yyyy')#"));
                                            views.WeekView(w => w.Selected(true).AllDaySlot(false).DateHeaderTemplate("#=kendo.toString(date, 'ddd dd.MM.yyyy')#"));
                                            views.MonthView();
                                            views.AgendaView();

                                        })
                                        .Events(ev=>ev.Edit("onSchedulerEdit"))
                                        .Pdf(pdf => pdf.FileName("Расписание мероприятий.pdf").Title("Расписание мероприятий"))
                                        .EventTemplateId("eventTemplate")
                                        .Timezone("W-SU")
                                        .Messages(m=>m.ResetSeries("Удалить весь ряд").Recurrence(r=>r.DeleteRecurring("Вы хотите удалить только в это событие или изменить весь ряд?")))
                                        .Mobile(MobileMode.Auto)
                                        .Height(920)
                                        .DataSource(d => d
                                            .Model(m =>
                                            {
                                                m.Id(f => f.TaskID);
                                                m.Field(f => f.Title).DefaultValue("");
                                                m.Field(f => f.MaxPersons).DefaultValue(1);
                                                m.Field(f => f.MaxPersons14).DefaultValue(1);
                                                m.RecurrenceId(f => f.RecurrenceID);
                                            })
                                            .Read("Read", "SchedulerService")
                                            .Create("Create", "SchedulerService")
                                            .Destroy("Destroy", "SchedulerService")
                                            .Update("Update", "SchedulerService")
                                            .Events(events => events.Error("error_handler"))
                                        )
                                         .Editable(editable =>
                                         {
                                             editable.TemplateName("Scheduler");
                                             editable.Move(false);
                                         })
    )

</div>
<script id="tooltipTemplate" type="text/x-kendo-template">
    <div class="template-wrapper">
        <p>#=target.data('Title')#</p>
    </div>
</script>

<script id="eventTemplate" type="text/x-kendo-template">
    <div class='event-template #if(FreePlaces > 0 && start> new Date()){# enable-background #}else{# disable-background #}#' title='#: kendo.toString(start, ' HH:mm') # - #: kendo.toString(end, 'HH:mm' ) #'>
        @*<span>#= start#</span>*@
        <div class='title'>#= title#</div>
        <div class='orders-info'>
            <div class='orders-info-item' title="Заявлено человек">
                <span class="k-icon  k-i-user"></span>
                <span class="badge badge-persons">#=Persons# | #=Persons14#</span>
            </div>

            <div class='orders-info-item' style="margin-left: 10px;" title="Свободных мест">
                <span class="k-icon  k-i-checkbox"></span>
                <span class="badge badge-freeplaces">#=FreePlaces# | #=SetFreePlaces14(FreePlaces,FreePlaces14)#</span>
            </div>
            <div style="display:inline-block;float:right;">
                <a class="action-orders"  target="_blank" title="Заявки" href="#if(TaskID > 0) {  #@Url.Action("GridView","Order")?eventid=#=TaskID# #}else {#@Url.Action("GridViewByDate","Order")?recurrenceId=#=recurrenceId#&start=#: kendo.toString(start, 'dd.MM.yyyy HH:mm' )# #}#"><span class="k-icon k-i-list-ordered" style="color:\\#fff;font-size: 20px;"></span></a>
            </div>


        </div>
    </div>
</script>
<script>

    //Валидация данных
    (function ($, kendo) {
            $.extend(true, kendo.ui.validator, {
                rules: { 
                    maximumvalidation: function (input, params) {

                        if ((input.is("[name='persons']") || input.is("[name='persons14']")) && input.val() != "") {

                            var numerictextbox = input.data("kendoNumericTextBox");
                            var val = numerictextbox.value();
                            var min = numerictextbox.min();
                            var max = $(input).data("max");//numerictextbox.max();
                            var msg = "Количество всего посетителей";
                            if (input.is("[name='persons14']")) {
                                msg = "Количество детей до 14 лет";
                            }
                            input.attr("data-maximumvalidation-msg", msg + " должно быть в диапазоне от 1 до " + max);

                            return (val >= min && val <= max);
                        }

                        return true
                    },
                    maxpersonsvalidation: function (input, params) {

                        if (input.is("[name='MaxPersons14']") && input.val() != "") {

                            var numerictextbox = input.data("kendoNumericTextBox");
                            var val = numerictextbox.value();
                            var max = $("#MaxPersons").val();

                            return (val < max);
                        }

                        return true
                    }

                },
                messages: {
                    maxpersonsvalidation: function (input) {
                        var max = $("#MaxPersons").val();

                        return kendo.format("Количетво детей должно быть меньше общего количества ({0}) !", max);
                    }
                }

            });
    })(jQuery, kendo);

    $(document).ready(function () {

        if (!kendo.support.mobileOS)
        {
            $(window).resize();
        }
    });


    function onMaxPersonsChange(e)
    {
        var numerictextbox = $("#MaxPersons14").data("kendoNumericTextBox");
        numerictextbox.trigger("change");
    }

    function SetFreePlaces14(num, num14) {

        if (num14 >= num) {

            if (num > 0) {

                return num - 1;
            }
            else {

                return num;
            }
        }
        return num14;
    }

    function onSchedulerEdit()
    {
        var scheduler = $("#scheduler-edit-form");
        if (kendo.support.mobileOS) {

            scheduler.css("height", "550px");
        }
        else {
            scheduler.css("height", "100%");
        }
      
    }

    function setSchedulerHeight(height)
    {
        var widget = $("#scheduler").data("kendoScheduler");
        widget.element.height(height);
        widget.resize(true);
    }
        

    $(window).resize(function () {

        var height = $(window).outerHeight() - 40;
        setSchedulerHeight(height);
  });

    //Show Errors
    function error_handler(e) {
        if (e.errors) {
            var message = "<strong>Ошибки:</strong>";
            message += "<ul>"
            $.each(e.errors, function (key, value) {

                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += "<li> " + this + " <br></li> ";
                    });
                }
            });
            message += "</ul> "
            showError(message);
            this.cancelChanges();
        }
    }
</script>
<style>
    .badge {
        /*padding: 2px;*/
        /*border-width: 1px;*/
        font-size: 13px;
        line-height: 1;
    }

    .badge-persons {
        border-color: #ff6358;
        color: #fff;
        background-color: #ff6358;
    }

    .badge-freeplaces {
        border-color: #3e80ed;
        color: #fff;
        background-color: #3e80ed;
    }

    .orders-info {
        /*position: absolute;*/
        bottom: 0px;
        margin: 0 8px 5px;
    }

    .orders-info-item {
        display: inline-block;
    }

    .event-template {
        border-style: solid;
        border-width: 2px;
        border-radius: 3px;
        height: 100%;
        /*display: inline-block;*/
        color: #fff;
    }

    .disable-background {
        background: #747272;
        border-color: #747272;
    }

    .enable-background {
        background: #6BCC65;
        border-color: #6BCC65;
    }

    .event-template .title {
        padding: 0 8px 5px;
    }

    .k-event {
        background: none;
        border: none;
    }

    /* Hide toolbar, navigation and footer during export */
    .k-pdf-export .k-scheduler-toolbar,
    .k-pdf-export .k-scheduler-navigation .k-nav-today,
    .k-pdf-export .k-scheduler-navigation .k-nav-prev,
    .k-pdf-export .k-scheduler-navigation .k-nav-next,
    .k-pdf-export .k-scheduler-footer {
        display: none;
    }
</style>
