@model Einstein.WebUI.Models.TemplateViewModel
<script>
    function getName(e) {
        var id = e.sender.element.context.id;
        var name = id.substring(id.lastIndexOf("-") + 1);

        return name;

    }
        function TemplateParametersInfo(e)
    {
            var window = $("#window").data("kendoWindow");
            var name = getName(e);
            var url = "/" + name + "/AvailableParameters";
            console.log(url);
            window.content("");
            window.refresh({
                url: url,
                type: "POST",
                datatype: "json"
            }
            ).center().open();


    }

    function SaveTemplate(e)
    {
        var name = getName(e);
        var editor = $("#template-editor-"+name).data("kendoEditor");
        var editorContents = editor.encodedValue();
        var subject = $("#subject-"+name).val();
        var url = "/" + name + "/SaveTemplate";

         $.ajax({
                type: "POST",
                url: url,
                datatype: 'json',
                data: { subject: subject, body: editorContents },
                success: function (data) {

                    if (data.message == "OK") {

                        showSuccess("Шаблон успешно сохранён!")

                    }
                    else {

                        showError(data.errors);

                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {

                    showError(thrownError + "-" + xhr.status);
                }
            });

    }
</script>
<div style="margin-left:auto;margin-right:auto;max-width:80%;height:86vh;">
    @(Html.Kendo().EditorFor(m=>m.body)
                                                                                  .Name("template-editor-"+@Model.name)
                                                                                  .Tools(tools => tools.Clear()
                                                                                    .CustomTemplate(save => save.Template("" + Html.Kendo().Button().Name("temlate-save-"+@Model.name).Icon("save").HtmlAttributes(new { @class = "k-primary" }).Content("Сохранить шаблон").Events(ev => ev.Click("SaveTemplate")).ToClientTemplate()))
                                                                                    .Separator()
                                                                                    .Bold().Italic().Underline()
                                                                                    .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                                                    .Indent().Outdent()
                                                                                    .Separator()
                                                                                    .InsertUnorderedList().InsertOrderedList()
                                                                                    .Separator()
                                                                                    .InsertImage().CreateLink().Unlink()
                                                                                    .Separator()
                                                                                    .FontColor().FontName().FontSize()
                                                                                    .Separator()

                                                                                    //.Print()
                                                                                    //.Pdf()
                                                                                    //.Separator()
                                                                                    .TableEditing()
                                                                                    .Separator()
                                                                                    .CustomTemplate(save => save.Template("" + Html.Kendo().Button().Name("temlate-parameters-" + @Model.name).HtmlAttributes( new { title= "Доступные параметры"}).Icon("question").Events(ev => ev.Click("TemplateParametersInfo")).ToClientTemplate()))
                                                                                    .CustomTemplate(ct=>ct.Template("<div style='width:600px;'><label for='subject' style='vertical-align:middle;margin-right:10px;'>Тема: </label>" + Html.Kendo().TextBox().Name("subject-" + @Model.name).Value(Model.subject).HtmlAttributes(new { style= "width: 90%;" }).ToClientTemplate()+"</div>"))

                        )
                        .ImageBrowser(imageBrowser => imageBrowser
                        .Image("~/Content/Images/{0}")
                        .Read("Read", "ImageBrowser")
                        .Create("Create", "ImageBrowser")
                        .Destroy("Destroy", "ImageBrowser")
                        .Upload("Upload", "ImageBrowser")
                        .Thumbnail("Thumbnail", "ImageBrowser")
                        )
                        .Messages(ms=>ms.ImageBrowser(br=>br.UploadFile("Загрузить").OrderBy("Сортировать")))
                        //.Pdf(pdf => pdf
                        //      .Margin(20, 20, 20, 20)
                        //      //.PaperSize("A4")
                        //      //.Scale(0.7)
                        //      .FileName("DSV.pdf")

                        // )
                        //.Messages(mes => mes.FontNameInherit("Arial Default").FontSizeInherit("7pt"))
                        .HtmlAttributes(new { style ="height: 100%;", aria_label = "editor" })
                        //.StyleSheets(css => css.Add(Url.Content("~/Content/editor.css")))
                        //.Value(Model.body)

                        )
</div>
<div>
    @(Html.Kendo().Window()
            .Name("window")
            .Title("Доступные параметры")
            //.LoadContentFrom("AvailableParameters", "TemplateService")
            .Draggable()
            //.Events(ev => ev.Close("onClose"))
    )
</div>
